OpenMMP Rules as of Alpha 0.1

== Start ==
1) Gain $20'000 on passing Start.
2) Gain an additional $20'000 on landing on start.

== Turns ==
1) Turns can't be ended before rolling dices.
2) If you dice the same eyes you'll gain an additional dice roll.
3) If you get doubles trice in a row you'll be send to jail.

== Jail ==
1) To get out of Jail you need to roll doubles, Pay $5000 or use a "Free Jail Card"
2) You can try 3 times before you are forced to pay $5000 or use a "Free Jail Card"

== Houses ==
1) A Player can build up to 4 houses on a single street.
2) The 5th house is considered an Hotel
3) The sell price of an house is 50% of the buy price.
